<!-- HEADER AREA START -->
<header class="header-area">
  <!-- Header top area start -->
  <div class="header-top-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-6">
          <div class="top-bar-left">
            <!-- welcome -->
            <div class="welcome">
              <p>England's Fastest Online Shopping Destination</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6">
          <div class="topbar-nav">
            <div class="wpb_wrapper">
              <!-- my account -->
              <div class="menu-my-account-container">
                <a routerLink="/admin">My Admin <i class="ion-ios-arrow-down"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Top bar area end -->
  <!-- Header middle area start -->
  <div class="header-middle-area">
    <div class="container">
      <div class="row">
        <div class="col-xl-2 col-md-12">
          <!-- site-logo -->
          <div class="site-logo">
            <a routerLink="/home"><img src="../../../assets/images/logo/logo-white.png" alt="Nikado"></a>
          </div>
        </div>
        <div class="col-xl-6 col-md-12">
          <!-- header-search -->
          <div class="header-search clearfix">
            <div class="header-search-form">
              <form action="#">
                <input type="text" name="search" placeholder="Search product...">
                <input type="submit" name="submit" value="Search">
              </form>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-12">
          <!-- shop-cart-menu -->
          <div class="shop-cart-menu pull-right">
            <ul>
              <li><a href="#"><i class="ion-ios-shuffle-strong"></i></a></li>
              <li><a href="wishlist.html"><i class="ion-android-favorite-outline"></i></a></li>
              <li><a href="#">
                                            <span class="cart-icon">
                                                <i class="ion-bag"></i><sup>3</sup>
                                            </span>
                <span class="cart-text">
                                                <span
                                                  class="cart-text-title">My cart <br> <strong>$ 145.00</strong> </span>
                                            </span>
              </a>
                <ul>
                  <li>
                    <!-- single-shop-cart-wrapper -->
                    <div class="single-shop-cart-wrapper">
                      <div class="shop-cart-img">
                        <a href="#"><img src="../../../assets/images/product/1.jpg" alt="Image of Product"></a>
                      </div>
                      <div class="shop-cart-info">
                        <h5><a href="cart.html">sport t-shirt men</a></h5>
                        <span class="price">£515.00</span>
                        <span class="quantaty">Qty: 1</span>
                        <span class="cart-remove"><a href="#"><i class="fa fa-times"></i></a></span>
                      </div>
                    </div>
                  </li>
                  <li>
                    <!-- single-shop-cart-wrapper -->
                    <div class="single-shop-cart-wrapper">
                      <div class="shop-cart-img">
                        <a href="#"><img src="../../../assets/images/product/2.jpg" alt="Image of Product"></a>
                      </div>
                      <div class="shop-cart-info">
                        <h5><a href="cart.html">sport coat amet</a></h5>
                        <span class="price">£100.00</span>
                        <span class="quantaty">Qty: 1</span>
                        <span class="cart-remove"><a href="#"><i class="fa fa-times"></i></a></span>
                      </div>
                    </div>
                  </li>
                  <li>
                    <!-- single-shop-cart-wrapper -->
                    <div class="single-shop-cart-wrapper">
                      <div class="shop-cart-img">
                        <a href="#"><img src="../../../assets/images/product/3.jpg" alt="Image of Product"></a>
                      </div>
                      <div class="shop-cart-info">
                        <h5><a href="cart.html">Pellentesque men</a></h5>
                        <span class="price">£265.00</span>
                        <span class="quantaty">Qty: 1</span>
                        <span class="cart-remove"><a href="#"><i class="fa fa-times"></i></a></span>
                      </div>
                    </div>
                  </li>
                  <li>
                    <!-- shop-cart-total -->
                    <div class="shop-cart-total">
                      <p>Subtotal: <span class="pull-right">£880.00</span></p>
                    </div>
                  </li>
                  <li>
                    <div class="shop-cart-btn">
                      <a href="checkout.html">Checkout</a>
                      <a href="cart.html" class="pull-right">View Cart</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header middle area end -->
  <!-- Header bottom area start -->
  <div class="header-bottom-area">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-3 hidden-md hidden-sm pull-left category-wrapper">
          <div class="categori-menu">
            <span class="categorie-title" (click)="showCate()">Categories</span>
            <nav>
              <ul class="categori-menu-list menu-hidde" [ngStyle]="{display:cate ? '':'none'}">
                <li><a href="shop.html"><span><img src="../../../assets/images/icons/1.png" alt="menu-icon"></span>Electronics</a>
                </li>
                <li><a href="shop.html"><span><img src="../../../assets/images/icons/2.png" alt="menu-icon"></span>Fashion</a></li>
                <li><a href="shop.html"><span><img src="../../../assets/images/icons/3.png" alt="menu-icon"></span>Home
                  & Kitchen</a></li>
                <li><a href="shop.html"><span><img src="../../../assets/images/icons/4.png" alt="menu-icon"></span>Phones
                  & Tablets
                </a></li>
                <li><a href="shop.html"><span><img src="../../../assets/images/icons/5.png" alt="menu-icon"></span>TV &
                  Video</a></li>
                <li><a href="shop.html"><span><img src="../../../assets/images/icons/6.png" alt="menu-icon"></span>Beauty</a>
                </li>
                <li><a href="shop.html"><span><img src="../../../assets/images/icons/7.png" alt="menu-icon"></span>Sport
                  & tourism</a>
                </li>
                <li><a href="shop.html"><span><img src="../../../assets/images/icons/8.png" alt="menu-icon"></span>Fruits
                  & Veggies</a></li>
                <li><a href="shop.html"><span><img src="../../../assets/images/icons/9.png" alt="menu-icon"></span>Computer
                  & Laptop</a></li>
                <li><a href="shop.html"><span><img src="../../../assets/images/icons/10.png" alt="menu-icon"></span>Meat
                  & Seafood</a></li>
                <li><a href="shop.html"><span><img src="../../../assets/images/icons/12.png" alt="menu-icon"></span>Samsung</a>
                </li>
                <li><a href="shop.html"><span><img src="../../../assets/images/icons/11.png" alt="menu-icon"></span>Sanyo</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-lg-9">
          <!-- main-menu -->
          <div class="main-menu">
            <nav>
              <ul>
                <li class="current"><a routerLink="/home">Home</a></li>
                <li><a routerLink="/1">Shop</a></li>
                <li><a routerLink="/2">Blog</a></li>
                <li><a routerLink="/3">About Us</a></li>
                <li><a routerLink="/4">Contact</a></li>
                <li><a routerLink="/5">Features </a></li>
              </ul>
            </nav>
          </div>
          <div class="mobile-menu-area">
            <div class="mobile-menu">
              <nav id="mobile-menu-active">
                <ul class="menu-overflow">
                  <li><a href="#">HOME</a></li>
                  <li><a href="shop.html">Shop</a></li>
                  <li><a href="blog.html">Blog</a></li>
                  <li><a href="about-us.html">About Us</a></li>
                  <li><a href="contact-us.html">Contact</a></li>
                  <li><a href="#">Features</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header bottom area end -->
</header>
<!-- HRADER AREA END -->
